In [1]:
#from langchain_google_genai import GoogleGenerativeAI
from langchain_google_genai import GoogleGenerativeAI
import os
from dotenv import load_dotenv
load_dotenv()
llm=GoogleGenerativeAI(model="gemini-2.0-flash",google_api_key=os.environ["GOOGLE_API_KEY"])

In [2]:
print(llm("write few lines on generative AI"))

C:\Users\HP\AppData\Local\Temp\ipykernel_16740\2901599730.py:1: LangChainDeprecationWarning: The method `BaseLLM.__call__` was deprecated in langchain-core 0.1.7 and will be removed in 1.0. Use :meth:`~invoke` instead.
  print(llm("write few lines on generative AI"))

Generative AI is a fascinating field focused on creating new content, from text and images to music and code. It uses machine learning models, often deep neural networks, to learn patterns from existing data and then generate novel outputs that resemble that data. Think of it as a digital artist, composer, or writer, trained on vast amounts of information and capable of producing original works. The potential applications are vast, spanning creative industries, scientific research, and beyond.

## connect with database and ask some basic questions

In [4]:
from langchain_experimental.sql import SQLDatabaseChain
from langchain.utilities import SQLDatabase

In [5]:
db_user="root"
db_password="Harshavardhan1$"
db_host="localhost"
db_name="retail_sales_db"
db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}",sample_rows_in_table_info=3)

print(db.table_info)

CREATE TABLE sales_tb (
	`TransactionID` INTEGER,
	`Date` DATE,
	`CustomerID` VARCHAR(10),
	`Gender` VARCHAR(10),
	`Age` INTEGER,
	`ProductCategory` VARCHAR(50),
	`Quantity` INTEGER,
	`PriceperUnit` DECIMAL(10, 2),
	`TotalAmount` DECIMAL(10, 2)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from sales_tb table:
TransactionID	Date	CustomerID	Gender	Age	ProductCategory	Quantity	PriceperUnit	TotalAmount
1	2023-11-24	CUST001	Male	34	Beauty	3	50.00	150.00
2	2023-02-27	CUST002	Female	26	Clothing	2	500.00	1000.00
3	2023-01-13	CUST003	Male	50	Electronics	1	30.00	30.00
*/

In [6]:
#convert question to sql query
from langchain.chains import create_sql_query_chain
chain=create_sql_query_chain(llm,db)
response=chain.invoke({"question":"how many customers are there"})
response

'```sql\nSELECT COUNT(DISTINCT `CustomerID`) FROM sales_tb\n```'

In [7]:
#the above result is not in clear way such that we should clean it 
clean_query=response.strip('```sql\n').strip('\n```')
print(clean_query)

SELECT COUNT(DISTINCT `CustomerID`) FROM sales_tb

In [8]:
#execute the sql query
result=db.run(clean_query)
print(result)

[(29,)]

In [17]:
# Import the necessary exception
from sqlalchemy.exc import ProgrammingError

# Your existing chain and db must already be defined:
# chain = create_sql_query_chain(llm, db)

def execute_query(question):
    try:
        # Generate SQL query from question
        response = chain.invoke({"question": question})
        print("Generated Response:")
        print(response)
        print("###################################################")
        
        # Strip code formatting if present
        if response.startswith("```sql"):
            cleaned_query = response.strip("```sql").strip("```").strip()
        else:
            cleaned_query = response.strip()
        
        print("Cleaned SQL Query:")
        print(cleaned_query)
        print("###################################################")
        
        # Execute the cleaned query
        result = db.run(cleaned_query)
        print("Query Result:")
        print(result)
        
    except ProgrammingError as e:
        print(f"An SQL error occurred: {e}")
    except Exception as e:
        print(f"An unexpected error occurred: {e}")

In [18]:
q1 = "How many unique customers are there for each product category"
execute_query(q1)

Generated Response:
```sql
SELECT `ProductCategory`, COUNT(DISTINCT `CustomerID`) AS `UniqueCustomers`
FROM sales_tb
GROUP BY `ProductCategory`
ORDER BY `ProductCategory`
LIMIT 5;
```
###################################################
Cleaned SQL Query:
SELECT `ProductCategory`, COUNT(DISTINCT `CustomerID`) AS `UniqueCustomers`
FROM sales_tb
GROUP BY `ProductCategory`
ORDER BY `ProductCategory`
LIMIT 5;
###################################################
Query Result:
[('Beauty', 8), ('Clothing', 13), ('Electronics', 8)]

In [19]:
q2 = "Calculate total sales amount per product category:"
execute_query(q2)

Generated Response:
```sql
SELECT `ProductCategory`, SUM(`TotalAmount`) AS `TotalSalesAmount` FROM sales_tb GROUP BY `ProductCategory`
```
###################################################
Cleaned SQL Query:
SELECT `ProductCategory`, SUM(`TotalAmount`) AS `TotalSalesAmount` FROM sales_tb GROUP BY `ProductCategory`
###################################################
Query Result:
[('Beauty', Decimal('1455.00')), ('Clothing', Decimal('5040.00')), ('Electronics', Decimal('5310.00'))]